/* Portfolio made by Tyler Silva */

/********************
	Globals
********************/

html {
	box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
	background: #FFFFFF;
	font-family: "Raleway", sans-serif;

}

/********************
	Typography
********************/

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Bitter", serif;
	font-weight: 700;
}

/********************
	Header
********************/

header{
	width: 20%;
	height: 100vh;
	background: #333333;
	float: left;
	position: fixed;
	z-index: 9999;
}

.header-picture {
	width: 100% ;
	height: auto;
	padding: 1rem;
}

.header-picture img {
	width: 100%;
	height: 100%;
	border-radius: 50%;
	max-width: 215px;
	max-height: 215px;
	margin: 0 auto;
}


.info {
	font-family: "Rock Salt", display;
	font-size: 1em;
	text-align: center;
	color: #EEEEEE;
	margin: 0 auto;
}

nav ul {
	margin: 0;
	padding: 0;

}

nav ul li {
	text-align: center;
	width: 100%;
	display: inline-block;
	margin: 0;
	padding: 1rem 0;
	transition: color .5s ease;
	color: #EEEEEE;
}

nav ul li {
	text-align: center;
	width: 100%;
	display: inline-block;
	margin: 0;
	padding: 1rem 0;
	transition: background-color .5s ease;

	color: #EEEEEE;
}

nav ul li:hover {
	background-color: #222222;
}

nav ul li a {
	color: inherit;
	text-decoration: none;
}

/********************
	Sections
********************/

section {
	width: 80%;
	max-width: 1000px;
	margin-left: 20%;
	padding: 1rem;
}

.masthead-intro,
.masthead-heading {
  text-align: center;
}

.masthead-intro {
  margin-bottom: 0.5em;
  font-size: 2em;
  color: #EEEEEE;
  text-shadow: 1px 1px 0 #AAAAAA, 2px 2px 0 #999999, 3px 3px 0 #888888, 4px 4px 0 #777777, 5px 5px 5px #666666;
}

.masthead-heading {
  margin-top: -0.2em;
  font-size: 6em;
  color: #EEEEEE;
  text-shadow: 1px 1px 0 #AAAAAA, 2px 2px 0 #999999, 3px 3px 0 #888888, 4px 4px 0 #777777, 5px 5px 0 #666666, 6px 6px 10px #555555;
}

.masthead {
  font-family: "Righteous";
  padding: 6em 0;
  background-image: url(https://download.unsplash.com/photo-1428342319217-5fdaf6d7898e);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.project-list {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.project {
	float: left;
	display: inline-block;
	padding: .5rem;
	width: 50%;
	text-align: center;

}

.project img {
	width: 100%;
	height: auto;
	border-radius: 5px;
	box-shadow: 0 3px 0 #999999;
}

.project p {
	margin-top: 2rem;
}

.indent {
	padding-left: 2rem;
}

.contact {
	margin-top: 2rem;
  	text-align: center;
  	color: #AAAAAA;
}

.contact ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.contact li {
  	display: inline-block;
}

a {
  font-weight: 600;
  padding: 1em;
  text-decoration: none;
  color: #444444;
}

a:hover, a:visited {
  color: #CCCCCC;
}

/********************
	Media Queries
********************/

@media only screen and (max-width: 600px) {
	header {
		width: 100%;
		height: auto;
		position: relative;
	}

	section {
		width: 100%;
		margin: 0 0;
		padding: 0 1rem;
	}

	nav ul li {
	text-align: center;
	width: 25%;
	float: left;
	display: inline-block;
	margin: 0;
	padding: 1rem 0;
	transition: background-color .5s ease;
	background-color: transparent;
	color: #EEEEEE;
	}

	.header-picture {
		width: 50%;
		margin: .5rem auto;
	}

	.masthead {
		background-position: center-top;
	}

	.indent {
		padding-left: 1rem;
	}


}