/* Portfolio made by Tyler Silva */

/********************
	Globals
********************/

html {
	box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
	background: #FFFFFF;
}

/********************
	Typography
********************/

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Bitter", serif;
	font-weight: 700;
}

/********************
	Header
********************/

header{
	width: 20%;
	height: 100vh;
	background: #333333;
	float: left;
	position: fixed;
	z-index: 9999;
}

.header-picture {
	width: 80%;
	height: auto;
	margin: 1rem auto;
	border-radius: 50%;
}

.info {
	font-family: "Rock Salt", display;
	font-size: .75em;
	text-align: center;
	color: #EEEEEE;
	margin: 0 auto;
}

/********************
	Sections
********************/

section {
	width: 80%;
	margin-left: 20%;
	padding: 2rem;
}

/********************
	Media Queries
********************/

@media only screen and (max-width: 600px) {
	header {
		width: 100%;
		height: auto;
		position: relative;
	}

	section {
		width: 100%;
		margin: 0 0;
		padding: 0 1rem;
	}
}