/* Portfolio made by Tyler Silva */

/********************
	Globals
********************/

html {
	box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
	background: #FFFFFF;
	font-family: "Raleway", sans-serif;

}

/********************
	Typography
********************/

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Bitter", serif;
	font-weight: 700;
}

/********************
	Header
********************/

header{
	width: 20%;
	height: 100vh;
	background: #333333;
	float: left;
	position: fixed;
	z-index: 9999;
}

.header-picture {
	width: 100% ;
	height: auto;
	padding: 1rem;
}

.header-picture img {
	width: 100%;
	height: 100%;
	border-radius: 50%;

}


.info {
	font-family: "Rock Salt", display;
	font-size: 1em;
	text-align: center;
	color: #EEEEEE;
	margin: 0 auto;
}

nav ul {
	margin: 0;
	padding: 0;

}

nav ul li {
	text-align: center;
	width: 100%;
	display: inline-block;
	margin: 0;
	padding: 1rem 0;
	transition: color .5s ease;
	color: #EEEEEE;
}

nav ul li {
	text-align: center;
	width: 100%;
	display: inline-block;
	margin: 0;
	padding: 1rem 0;
	transition: background-color .5s ease;
	background-color: transparent;
	color: #EEEEEE;
}

nav ul li:hover {
	background-color: #222222;
}

/********************
	Sections
********************/

section {
	width: 80%;
	margin-left: 20%;
	padding: 2rem;
}

/********************
	Media Queries
********************/

@media only screen and (max-width: 600px) {
	header {
		width: 100%;
		height: auto;
		position: relative;
	}

	section {
		width: 100%;
		margin: 0 0;
		padding: 0 1rem;
	}

	nav ul li {
	text-align: center;
	width: 25%;
	float: left;
	display: inline-block;
	margin: 0;
	padding: 1rem 0;
	transition: background-color .5s ease;
	background-color: transparent;
	color: #EEEEEE;
	}
	.header-picture {
		width: 50%;
		margin: 1rem auto;
	}
}